@import url('../css_grid/reset.css');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gallery-container {
  display: grid;
  max-width: 756px;
  width: 100%;
  max-height: 547px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 175px 175px 175px;
  gap: 10px;
}

.gallery-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-container img:first-child {
  grid-area: 1 / 1 / 3 / 2;
}

.gallery-container img:nth-child(3) {
  grid-area: 1 / 3 / 3 / 4;
}

.gallery-container img:nth-child(5) {
  grid-area: 2 / 2 / 3 / 3;
}

.gallery-container img:nth-child(4) {
  grid-area: 3 / 1 / 4 / 3;
}

@media screen and (max-width: 620px) {
  .gallery-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 175px 175px 175px 175px;
  }

  .gallery-container img:first-child {
    grid-area: 1 / 1 / 2 / 2;
  }

  .gallery-container img:nth-child(3) {
    grid-area: 2 / 1 / 3 / -1;
  }

  .gallery-container img:nth-child(4),
  .gallery-container img:nth-child(5) {
    grid-area: auto;
  }

  .gallery-container img:last-child {
    grid-area: -2 / 1 / -1 / -1;
  }
}
